/*movie.css*/
@import "style.css";

.moviedetails {
	display: flex;
	width: 100%;
	justify-content: center;
	gap: 10px;
	position: relative;
	margin-bottom: 50px;
}


.moviedetails .div {
	width: 70%;
	padding-top: 60px;
	padding-bottom: 60px;
	flex-direction: column;
	gap: 22px;
	display: inline-flex;
	align-items: flex-start;
	position: relative;
	flex: 0 0 auto;
}

.moviedetails .moviename {
	position: relative;
	width: fit-content;
	margin-top: -1px;
	font-family: "Inter-Bold", Helvetica;
	font-weight: 700;
	color: #FFA33C;
	font-size: 32px;
	/*letter-spacing: -0.3px;*/
	line-height: 45px;
	white-space: nowrap;
}

.moviedetails .div-2 {
	gap: 31px;
	width: 100%;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	position: relative;
	flex: 0 0 auto;
}

.moviedetails img{
	position: relative;
	width: 250px;
	height: 350px;
}


.moviedetails .div-3 {
	width: 70%;
	flex-direction: column;
	gap: 20px;
	display: flex;
	align-items: flex-start;
	position: relative;
	flex: 0 0 auto;
}

.movielabels {
	position: relative;
	font-family: "Inter-Bold", Helvetica;
	font-weight: 700;
	color: #FFA33C;
	font-size: 18px;
	/*letter-spacing: -0.2px;*/
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
}


.desc {
	position: relative;
	width: fit-content;
	font-family: "Inter-Regular", Helvetica;
	font-weight: 300;
	color: #c6c5b3;
	font-size: 15px;
	/*letter-spacing: -0.2px;*/
	white-space: normal;
	text-align: left;
}

#showtimes{
	width: 70%;
	margin: 0 auto; /* Center the container */
	padding: 0 20px; /* Add margin to the left and right sides */
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10%;
/*	justify-content: center; /* Center the content within the container */*/
}

table.showtime{
    border-spacing: 2px;
    border-collapse: collapse;
    margin-bottom: 10%; /* Add margin to create a gap between tables */
    table-layout: fixed; /* Set the table layout to fixed */
    width: 100%; /* Set the table width to 100% */
    background-color: #262626;

}

td.chip {
    width: 100px; /* Set a fixed width for the chip cells */
    /* You can adjust the width as needed */
}

th.showtime {
	padding: 35px 20px 35px 20px;
	font-family: "Inter-SemiBold", Helvetica;
	font-weight: 600;
	background-color: #A38BD2; !important
	color: #FFF;
	font-size: 22px;
	letter-spacing: 0;
	line-height: normal;
	white-space: nowrap;	
	text-align: left;
}

td.date {
	padding: 30px 20px 30px 20px;
	font-family: "Inter-Regular", Helvetica;
	font-weight: 400;
	color: #FFF;
	font-size: 16px;
	letter-spacing: 0;
	line-height: normal;
	white-space: nowrap;
	margin-right: 50px;
}


.chip {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	padding: 8px 10px;
	position: relative;
	background-color: #B15EFF;
	border-radius: 20px;
	cursor: pointer;
	transition: border 0.3s; /* Add transition for a hover effect */
	/* Explicitly set border properties */
	border: 2px solid transparent; /* Set an initial transparent border */
}

.chip .selector {
	position: relative;
	width: fit-content;
	margin-top: -1px;
	font-family: "Inter-Medium", Helvetica;
	font-weight: 500;
	color: #FFF;
	font-size: 13px;
	letter-spacing: 0;
	line-height: normal;
	white-space: nowrap;
}

.chip:hover{
    border: 2px solid #B15EFF; /* Set the border color and width on hover */
    background-color: transparent; /* Remove the background color */
}

/*#showtimes tr:nth-of-type(odd) {background-color: transparent;
          			color: #FFF;}
*/

#reviews{
	width: 70%;
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 40px;
	position: relative;
    margin: 0; /* Remove the margin */
    padding-bottom: 10%;

}

#reviews .div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
	position: relative;
	flex: 0 0 auto;
}

#reviews .div-2 {
  display: inline-flex;
  align-items: center;
  gap: 50px;
  position: relative;
  flex: 0 0 auto;
}

#reviews .mask-group {
  position: relative;
  width: 90px;
  height: 90px;
}

#reviews .div-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 9px;
  position: relative;
  flex: 0 0 auto;
}

#reviews .datewrap {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #a38bd2;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

#reviews .namewrap {
  position: relative;
  width: fit-content;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

#reviews .commentwrap {
  position: relative;
  width: fit-content;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}




